body {
  font-family:Arial;
  padding:0px;
  margin:0 8px 8px 8px;
}

nav {
  position:fixed;
  height:50px;
  overflow:hidden;
  z-index:1000;
  padding:10px 0 10px 0;
  margin:0;
  background-color:#8B0000;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
}

nav ul {
  width:500px;
  margin:0 auto;
}

.contactlist li {
  list-style-type:none;
  display:block;
}
.contactlist li span:last-child {
}
.contactlist li span:first-child {
  width:200px;
  font-weight:bold;
  display:inline-block;
}

nav li {
  padding:0px 10px;
  display:inline-block;
  list-style-type:none;
}
nav li:hover, nav li:active {
    opacity:0.5;
}

nav h1 {
  padding:0px;
  margin:0px;
  display:inline-block;
}

h1 a:hover, h1 a:focus {
  color:#FFCC33;
  text-decoration:none;
}

a {
  text-decoration:none;
  color:inherit;
}

h1 {
  color:#FFCC33;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
  font-weight:bold;
  font-size:150%;
}

h2 {
  color:#8B0000;
  font-weight:bold;
  font-size:150%;
}

#splash {
  min-height:50px;
}
#splash .carousel-control {
  vertical-align:middle;
}
#splash .item :first-child {
  background-repeat: no-repeat;
  margin:auto;
  width:800px;
  height:200px;
}

#content {
  padding:10px;
  background-color:#EDEAB5;
}
